<div class="mythicForgeWindow bestiaryWindow">
    <div class="windowHeader">Bestiary</div>
    <div class="windowClose" title="Close the bestiary window"><i class='bx bx-x'></i></div>
    <div class="windowContent">
        &nbsp;
    </div>
</div>