<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MythicForge - Forge Your Legends</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fonts.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
    <script>
      async function submitForm() {
          const name = document.getElementById('name').value;
          const description = document.getElementById('description').value;

          const response = await fetch('/execute', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ name, description })
          });

          const result = await response.json();
          alert(result.message);
          location.reload();
      }
    </script>
</head>
<body>
    <div class="logo"><img src="images/logo-small.webp" alt="MythicForge Logo" width="350"></div>
    <div class="menu-container">
      <div class="fantasy-menu p-4 text-center">
          <div class="d-grid gap-2">
              <button class="btn fantasy-button btn-lg">Campaigns</button>
              <button class="btn fantasy-button btn-lg">Characters</button>
              <button class="btn fantasy-button btn-lg">Database</button>
          </div>
      </div>
  </div>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>